:root {
    --color-primary: #390099;
    --color-secondary: #9e0059;
    --color-success: #ff0054;
    --color-danger: #ff5400;
    --color-warn: #ffbd00;
    --color-background: #f5ebe0;
}

body {
    display: flex;
    background-color: Var(--color-background);
    gap: 20px;
}

h1,
h2,
h3 {
    color: Var(--color-primary);
    font-family: Arial, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}
p {
    color: Var(--color-primary);
    font-size: 24px;
}

.left-side {
    width: 50%;
    border: 1px solid var(--color-danger);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
}
.right-side {
    width: 50%;
    border: 1px solid var(--color-danger);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
}
