:root {
    --color-primary: #390099;
    --color-secondary: #9e0059;
    --color-success: #ff0054;
    --color-danger: #ff5400;
    --color-warn: #ffbd00;
    --color-background: #f5ebe0;
}

body {
    color: Var(--color-background);
}

h1,
h2 {
    color: Var(--color-primary);
    font-family: Arial, sans-serif;
    font-weight: body;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p {
    color: Var(--color-danger);
    font-size: 12px;
}
